h1{
   background-color: skyblue;
   font-family: 'Coda Caption', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px 20px 10px ;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
